.Pokemon {
  width: 100%;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  box-shadow: 2px 2px 2px #777;
}
.Pokemon:hover {
  box-shadow: none;
  left: 2px;
  top: 2px;
}
.Pokemon-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-left: auto;
  margin-right: auto;
}

.Pokemon-id {
  font-weight: 600;
  font-size: 4rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  cursor: pointer;
  margin: 0;
  top: 0;
  letter-spacing: 0.3em;
  color: rgba(0, 0, 0, 0.25);
}
.Pokemon-content-img {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 0;
  right: auto;
  left: auto;
}
.Pokemon-content-img img {
  max-width: 100%;
  height: auto;
  position: absolute;
}
.Pokeball {
  opacity: 0.25;
}
.Pokemon-info {
  background: #fff;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
.Pokemon-name {
  font-size: 2rem;
  color: #000;
  text-transform: capitalize;
  padding-top: 2rem;
  margin-bottom: 0.25rem;
}
.Pokemon-types {
  display: flex;
  justify-content: center;
}
.Pokemon-types h4 {
  text-transform: uppercase;
  margin-right: 1rem;
  font-weight: 600;
}

.Pokemon-link {
  color: #000;
  display: block;
  text-decoration: none;
  position: relative;
  width: 100%;
}
