
.spinner-content{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.pokeball{
  padding: .3rem;
  animation: 2s infinite bouncer;
  width: 7rem;
  height: 7rem;
}

@keyframes bouncer {
	100% {
		transform: rotate(360deg);
	}
}