.Search {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.25rem 0.75rem;
  width: 100%;
  border: 2px solid #b1b7c1;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0.5rem;
  transition: border-color 0.25s ease-in-out;
  margin-right: 0.5rem;
}
.search-form {
  display: flex;
  padding-right: 1rem;
}

.Search:focus {
  border-color: rgb(0, 100, 255);
  outline: 0;
}
.btn {
  display: inline-block;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #3d7dca;
  border: 1px solid #003a70;
  cursor: pointer;
}