
.Pokemons {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1,minmax(20rem ,1fr));
  gap:25px;
  align-items: start;
  min-width: 100%;
}

@media screen and (min-width: 768px) {
  .Pokemons{
    grid-template-columns: repeat(2,minmax(20rem ,1fr));
    min-width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .Pokemons{
    grid-template-columns: repeat(3,minmax(20rem ,1fr));
    min-width: auto;
  }
}
